# hide index.php
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
# Checks to see if the user is attempting to access a valid file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# DRAT-repos: redirect queries to drat repos hosted as GitHub pages
RewriteRule ^(.*)/([^/]+\.github\.io)/(.*)$ http://$2/$1/$3 [L,QSA]
</IfModule>
